In [1]:
a = [1,2,3,4,5,6,7,8,9,10]

In [2]:
#write list comprehension for creating list of even numbers from a list a

In [3]:
[i for i in a if i % 2 == 0]

[2, 4, 6, 8, 10]

In [4]:
[i for i in range(1,20) if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
# write list comprehension for creating a list squares of numbers from 1 - 10

# [ 1,4,9,16,25]

In [6]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

write list comprehension to return a list of tuple of numbers and its cube from 1 - 10


[(1,1),(2,8),(3,27),......]

In [7]:
[(i,i**3) for i in range(1,10)]

[(1, 1),
 (2, 8),
 (3, 27),
 (4, 64),
 (5, 125),
 (6, 216),
 (7, 343),
 (8, 512),
 (9, 729)]

Convert list of strings into upper case using list comprehension

si: ['apple','india','bhutan',kenya']

SO: ['APPLE','INDIA'...]

In [9]:
L = ['apple','india','bhutan','kenya']
[i.upper() for i in L]

['APPLE', 'INDIA', 'BHUTAN', 'KENYA']

Get the length of each word in a given list

L = ['apple','india','bhutan','kenya']

op: [5,5,6,5]

In [10]:
[len(i) for i in L]

[5, 5, 6, 5]

Reverse the each word in a list

ip: L = ['apple','india','bhutan','kenya']

op: ['elppa','aidin'....]

In [12]:
[i[::-1] for i in L]

['elppa', 'aidni', 'natuhb', 'aynek']

Replace negative numbers with 0 in a given list

SI: [-2,5,-5,9,-8,-2,-9,4,7,13]

SO: [0,5,0,9,0,0,0,4,7,13]

In [13]:
L = [-2,5,-5,9,-8,-2,-9,4,7,13]

[i if i >= 0 else 0 for i in L]

[0, 5, 0, 9, 0, 0, 0, 4, 7, 13]

Label numbers as even or odd

SI: L = [1,2,3,4,5,6,7,8]
SO: ['odd','Even','odd','Even'....]

In [14]:
['even' if i % 2 == 0 else 'odd' for i in range(1,10)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

Square even numbers, cube odd numbers in a range 1 - 10

[(1,1),(2,4),(3,27),(4,16)....]

In [15]:
[(i,i**2) if i % 2 == 0 else (i,i**3) for i in range(1,10)]

[(1, 1),
 (2, 4),
 (3, 27),
 (4, 16),
 (5, 125),
 (6, 36),
 (7, 343),
 (8, 64),
 (9, 729)]

Return a list of firsr characters in a list of strings


L = ['apple','india','bhutan','kenya']

OP: ['a','i','b','k']

In [18]:
L = ['apple','india','bhutan','kenya']
[i[0] for i in L]

['a', 'i', 'b', 'k']

### dictionary Comprehension

1. Squares of numbers from 1 - 5

In [19]:
{i:i**2 for i in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

2. map lengths words

L = ['apple','india','bhutan','kenya']

D = {'apple':6,'India':6,....}

In [20]:
{i:len(i) for i in L}

{'apple': 5, 'india': 5, 'bhutan': 6, 'kenya': 5}

3. Frequency count of letters in a word

In [24]:
a = 'programming is good and python is popular'

#{'p':3,'r':3....}

In [26]:
{i:a.count(i) for i in a}

{'p': 4,
 'r': 3,
 'o': 5,
 'g': 3,
 'a': 3,
 'm': 2,
 'i': 3,
 'n': 3,
 ' ': 6,
 's': 2,
 'd': 2,
 'y': 1,
 't': 1,
 'h': 1,
 'u': 1,
 'l': 1}

In [27]:
{i:a.count(i) for i in a if i!= ' '}

{'p': 4,
 'r': 3,
 'o': 5,
 'g': 3,
 'a': 3,
 'm': 2,
 'i': 3,
 'n': 3,
 's': 2,
 'd': 2,
 'y': 1,
 't': 1,
 'h': 1,
 'u': 1,
 'l': 1}

### patterns

*
* *
* * *
* * * * 

A 
A B
A B C
A B C D

5 4 3 2 1
5 4 3 2
5 4 3
5 4 
5