# Introduction to Python Programming - H1

## Introduction to Python Programming - H2

### Introduction to Python Programming - H3

#### Introduction to Python Programming - H4

### Features of Python Programming

1. Python is **Open- Source** Programming language
2. Python is *Dynamically typed* Language
3. Python is ***platform Independent*** Language
4. Python **Interpreter based Language**
5. Python is **Object Oriented Programming** language
6. Python have **Exception Handling Techniques**
7. Python allows Programmers to write fewer lines of code when compared to other programming languages

In [1]:
print('Hello all , Welcome to Datateach.ai')

Hello all , Welcome to Datateach.ai

### Keywords

1. Keywords are **Reserved Words** which have Special Meaning
2. Keywords are used to write Meaningful Instructions 
3. Keywords Should not be used a variable Names

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
print(len(keyword.kwlist))

35

### Identifiers

Name of a Variable / module / function / object / class is called Identifier

#### Identifier Name Rules

1. Identifiers Should only contain Alphanumerics and an underscore ( _ )
2. Indentifiers should only start with a character or an underscore
3. Keywords should not be used as Identifiers
4. White space is not allowed in Identifiers

#### Comments

In python comments starts with # . Whatever we write after # will be considered as comments

In [3]:
# this is cooment line

In [4]:
# Comments in Python

In [5]:
area = 89 # valid

In [6]:
Area = 78 # valid

In [7]:
Area5 = 45 # valid

In [8]:
Area_4 = 34 # valid

In [9]:
4area = 67 # invalid

SyntaxError: invalid decimal literal (3700743886.py, line 1)

In [10]:
_area = 89 # valid

In [11]:
_a = 23 # valid

In [13]:
break = 67 # invalid

SyntaxError: invalid syntax (2816956920.py, line 1)

In [14]:
if = 45 # invalid

SyntaxError: invalid syntax (1723829863.py, line 1)

In [15]:
area width = 67 # invalid

SyntaxError: invalid syntax (3752400858.py, line 1)

In [16]:
area_width = 67 # valid

#### variables

variable is Data Container which stores a Value .
Variable may be a shorter names like a, b , k , x or more descriptive name like area , width ,data ...

In [17]:
a = 20

In [18]:
a

20

In [19]:
b = 45

In [20]:
b

45

In [21]:
area = 78

In [22]:
area

78

In [23]:
area_width = 89

In [24]:
a = 45

In [25]:
print(a)

45

In [26]:
a = 56

In [27]:
print(a)

56

In [28]:
a, b, c = 10, 20, 30

In [29]:
a,b,c

(10, 20, 30)

In [30]:
a = b = c = 45

In [31]:
a,b,c

(45, 45, 45)

## Data Types 

1. **Numeric**
    1. Integer
    2. Float 
    3. Complex 
2. **Sequence**
    1. String
    2. List 
    3. Tuple
3. **Text**
    1. String
4. **Set**
    1. Set 
5. **Boolean**
    1. True
    2. False
6. **Dictionary**
    1. Dictionary

#### Numeric Data Types
1. Integer

In [32]:
a = 10 
b = -67 
c = 678938436463

In [33]:
type(a) # type() is a method which returns data type of a variable

int

In [34]:
type(b)

int

In [35]:
type(c)

int

In [36]:
print(type(a))

<class 'int'>

In [37]:
print(type(b))

<class 'int'>

In [38]:
print('The data Type of a variable a is : ',type(a))
print('The data Type of a variable b is : ',type(b))
print('The data Type of a variable c is : ',type(c))

The data Type of a variable a is :  <class 'int'>
The data Type of a variable b is :  <class 'int'>
The data Type of a variable c is :  <class 'int'>

In [39]:
# float 
a = 34.78
b = -90.67
c = 3.89644326277282

In [40]:
print('The data Type of a variable a is : ',type(a))
print('The data Type of a variable b is : ',type(b))
print('The data Type of a variable c is : ',type(c))

The data Type of a variable a is :  <class 'float'>
The data Type of a variable b is :  <class 'float'>
The data Type of a variable c is :  <class 'float'>

In [41]:
a = 3+9j
b = -7-4j
c = -5j

In [42]:
print('The data Type of a variable a is : ',type(a))
print('The data Type of a variable b is : ',type(b))
print('The data Type of a variable c is : ',type(c))

The data Type of a variable a is :  <class 'complex'>
The data Type of a variable b is :  <class 'complex'>
The data Type of a variable c is :  <class 'complex'>

## Type Conversion

Type Conversion:
It is a process of converting data type of a variable to another data type

1. Integer - Float 
2. Integer - String 
3. Float - Integer
4. Float - String 
5. String - integer (** if string is equal to any numeric value of base 10)
6. String - Float (** if string is equal to any numeric value of base 10)

In [43]:
# Integer to float 
a = 20 
print(a,type(a))

20 <class 'int'>

In [44]:
float(a)

20.0

In [45]:
b = float(a)
print(b,type(b))

20.0 <class 'float'>

In [46]:
# Integer to string

In [47]:
a

20

In [48]:
str(a)

'20'

In [49]:
#float to integer 
a = 56.89

In [50]:
print(a,type(a))

56.89 <class 'float'>

In [51]:
int(a)

56

In [52]:
a

56.89

In [53]:
str(a)

'56.89'

In [54]:
#string to integer 
#if string is equal to a numeric of base 10 

a = 'python'

In [55]:
int(a)

ValueError: invalid literal for int() with base 10: 'python'

In [56]:
a = '20'
print(a,type(a))

20 <class 'str'>

In [57]:
int(a)

20

In [58]:
float(a)

20.0

## Operators

1. **Arithmetic Operators**
    1. Addition ( + )
    2. Subtraction ( - )
    3. Multiplication ( * )
    4. Division ( / )
    5. Floor Division ( // )
    6. Modulus ( % )
    7. Exponentation( ** )
2. **Assignment Operators**
    1. Assignment Operators ( = )
3. **Relationship Operators(or) Comparision Operators**
4. **Logical Operators**
5. **Membership Operators**
6. **Identity Operators**
7. **Bitwise Operators**

#### Arithmetic Operators

In [59]:
# addition 
a = 10 
b = 3
a + b

13

In [60]:
#subtraction
a - b

7

In [61]:
# multiplication 
a * b

30

In [62]:
# Division 
a / b

3.3333333333333335

In [63]:
#floor Division (integer Division)
a // b

3

In [64]:
# Modulus ( Returns remainder of a division)
a % b

1

In [65]:
#exponentation (power of)
a ** b

1000

### Assignment Operators

Assignment operator is used assign values to the variables

a = 34 
b = 78

In [66]:
a = 10

In [67]:
a += 3 # a = a+3

In [68]:
a

13

In [69]:
a -= 3

In [70]:
a

10

In [71]:
a *= 3

In [72]:
a

30